WIPStats.ncrunchsolution
*.suo
packages/
WIPStats/obj/
*.ncrunchsolution.*
WIPStats/bin/
.nuget/PivotalTrackerDotNet/lib/net40/PivotalTrackerDotNet.dll
WIPStats.Test/bin/
WIPStats.Test/obj/
*ncrunchproject
*crunchsolution*
WIPStats/token.txt
