@{
    ViewBag.Title = "Home";
}
<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Current Sprint stats", "CurrentSprintStats")</li>
    <li>@Html.ActionLink("Casting project stats", "CastingProjectsStats")</li>
    <li>@Html.ActionLink("Feature Sprint WIP", "FeatureWipStats")</li>
    <li>@Html.ActionLink("CycleTime", "CycleTime")</li>
</ul>